@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto');
html {
  scroll-behavior: smooth;
}

body { 
background-color: #1a1a1a;
}
h1{
	color: white;
	font-family: 'Ubuntu', sans-serif;
	text-align: center;
} 
h2{
	color: white;
	font-family: 'Ubuntu', sans-serif;
	text-align: center;
} 
h3{
	color: white;
	font-family: 'Ubuntu', sans-serif;
	text-align: center;
} 
p{
	color: white;
	font-family: 'Ubuntu', sans-serif;
	text-align: center;
} 
.menudiv {
	font-family: 'Ubuntu', sans-serif;
	left: 0;
    line-height: 200px;
    margin-top: -100px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
	z-index: 2;
}
 .button {
  display: inline-block;
  border-radius: 4px;
  border: none;
  color: #ffffff;
  background-color: #3b58fd;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 230px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
  
.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.homecenter {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.warning {
  text-align: center;
  width: 100%;
  height: 20px;
  background-color: #fc4141;
  color: #FFFFFF;
  font-family: 'Ubuntu', sans-serif;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
  }
  
  body {
	color: black;
	font-family: "Poppins", sans-serif;
	   display:flex; 
	flex-direction:column;
  }
  
  header a {
	text-decoration: none;
  }
  
  header {
	padding: 0 20px;
	background-color: #1a1a1a;
	height: 50px;
	display: flex;
	justify-content: space-between;
  }
  
  #brand {
	font-weight: bold;
	font-size: 18px;
	display: flex;
	align-items: center;
  }
  
  #brand a {
	color: #09c372;
  }
  
  ul {
	list-style: none;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: space-around;
  }
  
  ul a {
	color: white;
  }
  
  ul li {
	padding: 5px;
	margin-left: 10px;
  }
  
  ul li:hover {
	transform: scale(1.1);
	transition: 0.3s;
  }
  
  #login,
  #signup {
	border-radius: 5px;
	padding: 5px 8px;
  }
  
  #login {
	border: 1px solid #498afb;
  }
  
  #signup {
	border: 1px solid #ff3860;
  }
  
  #signup a {
	color: #ff3860;
  }
  
  #login a {
	color: #498afb;
  }
  
  #hamburger-icon {
	margin: auto 0;
	display: none;
	cursor: pointer;
  }
  
  #hamburger-icon div {
	width: 35px;
	height: 3px;
	background-color: white;
	margin: 6px 0;
	transition: 0.4s;
  }
  
  .open .bar1 {
	-webkit-transform: rotate(-45deg) translate(-6px, 6px);
	transform: rotate(-45deg) translate(-6px, 6px);
  }
  
  .open .bar2 {
	opacity: 0;
  }
  
  .open .bar3 {
	-webkit-transform: rotate(45deg) translate(-6px, -8px);
	transform: rotate(45deg) translate(-6px, -8px);
  }
  
  .open .mobile-menu {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
  }
  
  .mobile-menu {
	display: none;
	position: absolute;
	top: 50px;
	left: 0;
	height: 250px;
	width: 100%;
        background-color: #1a1a1a;
        z-index: 999;

  }
  
  .mobile-menu li {
	margin-bottom: 10px;
  }
  
  @media only screen and (max-width: 600px) {
	header nav {
	  display: none;
	}
  
	#hamburger-icon {
	  display: block;
	}
  }

  
  .legal{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #000000;
    height: auto;
    width: 100vw;
    padding-top: 40px;
    color: #fff;
    text-align: center;
}

footer {
  position: absolute;
  top: 100vh;
  bottom: 0;
  left: 0;
  right: 0;
  height: auto;
  width: 100vw;
  padding-top: 40px;
  color: #fff;
  text-align: center;
  list-style-type: none;
  text-align: center;
}

footer i{
  color: #FFFFFF;
  margin: 5px;
}

footer p {
  opacity: 0.5;
}

.miksi {
  margin-top: 450px;
}